
<div class="ui tab" data-tab="external">
    <h3 class="ui top attached header">{{ 'nextstore_sylius_dropshipping_core.ui.external'|trans }}</h3>
    <div class="ui attached segment">
        {{ form_row(form.externalProductId)}}
        {{ form_row(form.webUrl) }}
        {{ form_row(form.orderType) }}
        {{ form_row(form.priceOt) }}
        {{ form_row(form.originalPriceOt) }}
    </div>
</div>
